body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    width: 100%;
    max-width: 400px; /* Anchura máxima del formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="date"],
  input[type="text"] {
    width: 100%; /* Ocupar todo el ancho del formulario */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

div#resultados {
  margin-left: 6em;
  margin-bottom: 6em;
  margin-right: 6em;
}

th, td {
padding: 10px;
border-bottom: 1px solid #ddd;
text-align: center; /* Alineación centrada del texto en las celdas */
align-items: center;
}

th {
background-color: #007bff;
color: #fff;
}

  button {
    width: 100%; /* Ocupar todo el ancho del formulario */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1em;
  }
  button:hover {
    background-color: #0056b3;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  th {
    background-color: #007bff;
    color: #fff;
  }
  tbody tr:hover {
    background-color: #f2f2f2;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .pagination button.active {
    background-color: #0056b3;
  }